
<%= javascript_include_tag 'job_index' %>
<%= stylesheet_link_tag 'jobs' %>

<input type="hidden" id="user-id" value='<%= @user %>'>
<input type="hidden" id="request-id" value='<%= @request.id %>'>
<input type="hidden" id="temporary" value='<%= @request.temporary %>'>


<table style="width:100%" class='table table-sm' id='table-jobs'>
	<tr>
		<th>Source</th>
		<th>Title</th>
		<th>Company</th>
		<th>Type</th>
		<th>City</th>
		<th>Summary</th>
		<th>link</th>
	</tr>

</table>