<style>
	table, th, td {
 		border: 1px solid black;
	}
	th {text-align: left}
	tr:nth-child(even) {background-color: #f2f2f2;}
</style>


<%@titles.each do |title|%>
	<h1><%=title%></h1>
	<table style="width:100%">
		<tr>
			<th>id</th>
			<th>Source</th>
			<th>Title</th>
			<th>Company</th>
			<th>Type</th>
			<th>City</th>
			<th>Summary</th>
			<th>link</th>
		</tr>
			<%@reqest.jobs.where(criteria: title).each do |job|%>
				<tr>
					<td><%=job.id%>. </td>
					<td><%=job.source%></td>
					<td><%=job.title%></td>
					<td><%=job.company%></td>
					<td><%=job.tipe%></td>
					<td><%=job.city%></td>
					<td><%=job.summary%></td>
					<td><a href="<%=job.link%>" target="_blank">Link to the position</a></td>
				</tr>
			<%end%>
	</table>
<%end%>