<%= stylesheet_link_tag "user_home" %>
<br>
<h4><%= link_to 'Make a new request', new_user_request_path(@user) %></h4>
<br>
<br>
<table class='table-hover' style="width:100%">
  <tr>
    <th>Request #</th>
    <th>Titles</th>
	<th>included keys</th>
	<th>excluded keys</th>
	<th>Last updated</th>
    <th>actions</th>
  </tr>
  <%@requests.each do |request|%>
	<tr>

		<td><%= link_to request.id, user_request_jobs_path(@user, request) %></td>
		<td>
			<ul>
				<%request.job_titles.each do |title|%>
					<li><%=title.job_title%></li>
				<%end%>
			</ul>
		</td>
		<td>
			<ul>
				<%request.includes.each do |parameter|%>
					<li><%=parameter.criteria%></li>
				<%end%>
			</ul>
		</td>
		<td>
			<ul>
				<%request.excludes.each do |parameter|%>
					<li><%=parameter.criteria%></li>
				<%end%>
			</ul>
		</td>
		<td>
			<%=request.date_updated%><br>
			<a href="/<%=@user.username%>/requests/<%=request.id%>/update">Update Request</a>
		</td>
		<td>
			<form action="/<%=@user.username%>/requests/<%=request.id%>" method="post">
				<input type="hidden" name="_method" value="patch">
				<input type="submit" value="edit">
			</form>
			<form action="/<%=@user.username%>/requests/<%=request.id%>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="delete">
			</form>
		</td>
	</tr>
  <%end%>
</table>