<div class="modal fade" id="createRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Get Jobs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :request, url: requests_path, method: "post" do |f| %>

						<%= f.fields_for :job_titles do |jt| %>
							<%= jt.label "Job titles"%><br>
							<div class="d-flex justify-content-center input-group">
								<%= jt.text_field :job_title, id: "newRequestjobTitles",class: "text-center col-md-2 form-control"%>
							</div>
						<% end %>
						<%= f.fields_for :locations do |loc| %>
							<br>
							<%= loc.label "Cities"%><br>
							<div class="d-flex justify-content-center input-group">
								<%= loc.text_field :criteria, id: "locations",class: "text-center col-md-2 form-control"%>
							</div>
						<% end %>
						<%= f.fields_for :includes do |inc| %>
							<br>
							<%= inc.label "include terms"%><br>
							<div class="d-flex justify-content-center input-group">
								<%= inc.text_field :criteria, id: "includes",class: "text-center col-md-2 form-control"%>
							</div>
						<% end %>
						<%= f.fields_for :excludes do |exc| %>
							<br>
							<%= exc.label "Exclude terms"%><br>
							<div class="d-flex justify-content-center input-group">
								<%= exc.text_field :criteria, id: "excludes",class: "text-center col-md-2 form-control"%>
							</div>
						<% end %>
						<br>
      </div>
      <div class="modal-footer d-flex justify-content-center input-group">
					<%= f.submit "Get Jobs", class:'btn btn-success', id: "make-request" %>
        <button id='modal-close' type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
			<div id="bottom"></div>
		<% end %>
    </div>
  </div>
</div>