
<table>
	<tbody>
		<tr>
			<td width="150">
				<%= link_to (image_tag '/images/pmi_chp_logo_toronto_hrz_clr_rgb.png', id:'logo', alt:"logo", height:"46"), "http://pmitoronto.ca/"%>
				<a href=<%= "https://www.linkedin.com/company/pmi-toronto/"%>> <%= image_tag '/images/linkedin.svg', height: '18', class: 'socialicons'%></a>
				<a href=<%= "https://www.instagram.com/pmitoronto/"%>> <%= image_tag '/images/instagram.svg', height: '18', class: 'socialicons'%></a>
				<a href=<%= "https://twitter.com/PMITORONTO"%>> <%= image_tag '/images/twitter.svg', height: '18', class: 'socialicons'%></a>
				<a href=<%= "https://www.facebook.com/PMITorontoChapter/"%>> <%= image_tag '/images/facebook.svg', height: '18', class: 'socialicons'%></a>
				<a href=<%= "https://www.youtube.com/PMISOC"%>> <%= image_tag '/images/youtube.svg', height: '18', class: 'socialicons'%></a>
			</td>
			<td id='line' width="450">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td id='name'><%= @pmi_email.name %>
								<% unless @pmi_email.credentials.empty? %>
									, <%= @pmi_email.credentials %> </td>
								<% end %>
						</tr>
						<tr>
								<td id='position'><%= @pmi_email.position %> | <span id="pmi-chapter">PMI Toronto Chapter</span></td>
						</tr>
						<tr>
							<td id = 'email'>
								E-mail: <a href=<%= "mailto:#{@pmi_email.email}"%>> <%=@pmi_email.email%></a> | Website: <a href="http://pmitoronto.ca/">pmitoronto.ca</a>
							<td>
						</tr>
						<% unless @pmi_email.phone.empty? %>
							<tr>
								<td id='phone'>
									P: <a id='phone' href=<%= "tel:#{@pmi_email.phone}"%>><%= number_to_phone(@pmi_email.phone, area_code: true)%></a>
								</td>
							</tr>
						<% end %>
						
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>