	<div class="row">
	<%= image_tag 'pmi_email/pmi_chp_logo_toronto_hrz_clr_rgb.png',  class: 'float-left', id: 'top-image'%>
</div>
	
	<div>
		<h4 id="lets">Let's create your PMI Toronto email signature</h4>
	</div>	
<div id='container'>

	<%= form_for @pmi_email, id:"form" do |f|%>
		<%= f.text_field :name,  required: true, placeholder: 'Full Name'%>
		<%= f.text_field :credentials, placeholder: 'Credentials (Optional)' %>
		<%= f.text_field :position, required: true, placeholder: 'Position name' %>
		<%= f.email_field :email, required: true, placeholder: 'Email' %>
		<%= f.telephone_field :phone, placeholder: 'Phone Number (Optional)' %>
		<%= f.submit "Create",id:'create' %>
	<% end %>
	<%= image_tag 'pmi_email/blue-circles.png', id: "circles"%>
</div>
