<div class="pmi">
	<div class="row">
		<%= image_tag 'pmi_email/pmi_chp_logo_toronto_hrz_clr_rgb.png',  class: 'float-left', id: 'top-image'%>
	</div>
	
	<div>
		<h4 id="lets">Let's create your PMI Toronto email signature</h4>
	</div>	

	<div class='form-container-pmi'>

		<%= form_for :pmi_email, id:"form" do |f|%>
			<%= f.text_field :name,  required: true, placeholder: 'Full Name', autocomplete: 'name', class: 'pmi-input'%>
			<%= f.text_field :credentials, placeholder: 'Credentials (Optional)', autocomplete: 'disabled', class: 'pmi-input'%>
			<%= f.text_field :position, required: true, placeholder: 'Position Name', autocomplete: 'disabled', class: 'pmi-input'%>
			<%= f.email_field :email, required: true, placeholder: 'Email', class: 'pmi-input'%>
			<%= f.telephone_field :phone, placeholder: 'Phone Number (Optional)', class: 'pmi-input'%>
			<%= f.submit "Create",id:'create', class: 'pmi-input'%>
		<% end %>
		<%= image_tag 'pmi_email/blue-circles.png', id: "circles"%>
	</div>
</div>