<!DOCTYPE html>
<head>

	<style>
		td{
			font-family: 'Tahoma';
			font-size: 14px;
			padding-top: 2px;
		}
		.phone{
			font-size: 14px;
		}
		img{
			padding-right: 2px;
		}
		#line{
			border-left: solid 4px #70B3FA;padding-left:25px;"

		}

		a{
			padding-right: 5px;
		}
	</style>

</head>
<br>
<br>
<table>
	<tbody>
		<tr>
			<td width="120"><%= link_to (image_tag 'pmi-logo.png', id:'logo', alt:"logo", height:"80"), "http://pmitoronto.ca/"%></td>
			<td id='line' width="450">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
								<td style="font-size:16px;font-weight:bold;text-transform:capitalize;padding-bottom:5px"><%= @pmi_email.name %> | <%= @pmi_email.position %> </td>
						</tr>
						<tr>
								<td class='phone'>
									<% unless @pmi_email.phone.empty? %>
										<a href=<%= "tel:#{@pmi_email.phone}" %>><%= image_tag 'phone', height:'12' %><%= number_to_phone(@pmi_email.phone, area_code: true) %></a>|
									<% end %>
									<%= image_tag 'iphone', height:'12' %><a href=<%= "tel:#{@pmi_email.mobile}"%>><%= number_to_phone(@pmi_email.mobile, area_code: true)%></a>
								</td>
						</tr>
						<tr>
							<td><%= image_tag 'email', height:'8' %><a href=<%= "mailto:#{@pmi_email.email}"%>> <%=@pmi_email.email%></a>
							<% unless @pmi_email.website.empty? %>
									| <%= image_tag 'url', height:'10' %>
									<a href=<%= @pmi_email.website %>>
										<%= @pmi_email.website %>
									</a>
								<% end %>
							</td>
						</tr>
						<tr>
							<td style="padding-top:15px; text-align:left;" width="100%">
								<% unless @pmi_email.twitter.empty? %>
									<a href=<%= "https://twitter.com/#{@pmi_email.twitter}"%>> <%= image_tag 'twitter' %></a>
								<% end %>
								<% unless @pmi_email.linkedin.empty? %>
									<a href=<%= "https://linkedin.com/in/#{@pmi_email.linkedin}"%>> <%= image_tag 'linkedin'%></a>
								<% end %>
								<% unless @pmi_email.instagram.empty? %>
									<a href=<%= "https://instagram.com/#{@pmi_email.instagram}"%>> <%= image_tag 'instagram'%></a>
								<% end %>
								<% unless @pmi_email.facebook.empty? %>
									<a href=<%= "https://facebook.com/#{@pmi_email.facebook}"%>> <%= image_tag 'facebook'%></a>
								<% end %>
								<% unless @pmi_email.youtube.empty? %>
									<a href=<%= "https://youtube.com/#{@pmi_email.youtube}"%>> <%= image_tag 'youtube'%></a>
								<% end %>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>