<!doctype html>
<html>
  <head>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag 'application' %>
		<title>JobSniper</title>

  </head>
  <body>
		<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
			<% unless logged_in?%>
				<a class="navbar-brand" href=<%= root_path %>><%= image_tag 'logosmall', class:'navimg' %></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<%= link_to 'Home', root_path, class: "nav-link" %>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href=<%= new_user_path %>>Sign Up</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href=<%= login_path %>>Sign In</a>
						</li>
					</ul>
				</div>
			<% else %>
				<a class="navbar-brand" href=<%= user_path(current_user) %>><%= image_tag 'logosmall', class:'navimg' %></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<h3>Welcome, <%= current_user.username %></h3>
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<%= link_to 'Requests', user_path(current_user), class: "nav-link active" %>
						</li>
						<li class="nav-item">
							<%= link_to "Log out", logout_path, method: :get, class: 'nav-link active' %>
						</li>
					</ul>
				</div>
			<% end %>
				</ul>

			</div>
		</nav>

		<%=yield%>

  </body>
</html>